<div class="az-header">
    <div class="container">
        <div class="az-header-left">
            <a href="/" class="az-logo"><span></span>HDB Haven</a>
            <a href="" id="azMenuShow" class="az-header-menu-icon d-lg-none"><span></span></a>
        </div><!-- az-header-left -->
        <div class="az-header-menu">
            <div class="az-header-menu-header">
                <a href="/" class="az-logo"><span></span>HDB Haven</a>
                <a href="" class="close">&times;</a>
            </div><!-- az-header-menu-header -->
            <ul class="nav">
                <li {% if request.path=="/" %} class="nav-item active show" {% else %} class="nav-item" {% endif %}>
                    <a href="/" class="nav-link"><i class="typcn typcn-chart-area-outline"></i> Dashboard</a>
                </li>
                <li {% if request.path=="/search-hdb" %} class="nav-item active show" {% else %} class="nav-item" {% endif %}>
                    <a href="/search-hdb" class="nav-link"><i class="typcn typcn-archive"></i>
                        Resale HDB Transactions</a>
                </li>
                <li {% if request.path=="/predict" %} class="nav-item active show" {% else %} class="nav-item" {% endif %}>
                    <a href="/predict" class="nav-link"><i class="typcn typcn-calculator"></i>
                        Predict Resale Price</a>
                </li>
            </ul>
        </div><!-- az-header-menu -->
        <div class="az-header-right">
            {% if user.is_authenticated %}
                <div class="dropdown az-profile-menu">
                    <a href="" class="az-img-user"><img src="static/img/faces/face1.jpg" alt=""></a>
                    <div class="dropdown-menu">
                        <div class="az-dropdown-header d-sm-none">
                            <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
                        </div>
                        <div class="az-header-profile">
                            <div class="az-img-user">
                                <img src="static/img/faces/face1.jpg" alt="">
                            </div><!-- az-img-user -->
                            <h6>{{ user.username }}</h6>
                        </div><!-- az-header-profile -->
                        <a href="" class="dropdown-item"><i class="typcn typcn-user-outline"></i> My Profile</a>
                        <a href="/logout" class="dropdown-item"><i class="typcn typcn-power-outline"></i> Sign Out</a>
                    </div><!-- dropdown-menu -->
                </div>
            {% else %}
                <div class="az-profile-menu">
                    <a href="login" class="az-img-user"><img src="static/img/faces/face0.jpg" alt=""></a>
                </div>
            {% endif %}
        </div><!-- az-header-right -->
    </div><!-- container -->
</div><!-- az-header -->