
{% extends "base.html" %}

{% block title %}HDB Haven - Search{% endblock %}

{% block content %}
    <div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
      <div class="container">
        <div class="az-content-body pd-lg-l-40 d-flex flex-column">
          <h2 class="az-content-title">Comprehensive HDB Data</h2>
          <div class="az-content-label mg-b-5">Select your filters.</div>
          <p class="mg-b-20">Search for data on the exact HDB you what you want.</p>

          <!-- <div class="wd-200 mg-b-20">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                </div>
              </div>
              <input type="text" class="form-control fc-datepicker" placeholder="MM/DD/YYYY">
            </div>
          </div> -->
 
          <div class="table-responsive">
            <table id="main-table" class="" style="display: inline-block; overflow: auto;">
              <thead>
                <tr>
                  <th style="position: sticky; top: 0; background-color: white;">Month</th>
                  <th style="position: sticky; top: 0; background-color: white;">Town</th>
                  <th style="position: sticky; top: 0; background-color: white;">Flat Type</th>
                  <th style="position: sticky; top: 0; background-color: white;">Floor Area</th>
                  <th style="position: sticky; top: 0; background-color: white;">Resale Price</th>
                  <th style="position: sticky; top: 0; background-color: white;">$ / m<sup>2</sup></th>
                  <th style="position: sticky; top: 0; background-color: white;">Street Name</th>
                  <th style="position: sticky; top: 0; background-color: white;">Block</th>
                  <th style="position: sticky; top: 0; background-color: white;">Storey Range</th>
                  <!-- <th style="position: sticky; top: 0; background-color: white;">Flat Model</th> -->
                  <th style="position: sticky; top: 0; background-color: white;">Lease Commence Date</th>
                  </tr>
              </thead>
              <tbody>
                {% for i in rows %}
                <tr>
                    <td>{{ records[i]["month"] }}</td>
                    <td>{{ records[i]["town"] }}</td>
                    <td>{{ records[i]["flat_type"] }}</td>
                    <td value={{ records[i]["floor_area_sqm"] }}>{{ records[i]["floor_area_sqm"] }} m<sup>2</sup> </td>
                    <!-- <td hidden>{{ records[i]["resale_price"] }}</td> -->
                    <td class="currency" value={{ records[i]["resale_price"] }}>{{ records[i]["f_resale_price"] }}</td>
                    <!-- <td hidden>{{ records[i]["price_per_sq_metre"] }}</td> -->
                    <td class="currency" value={{ records[i]["price_per_sq_metre"] }}>{{ records[i]["f_price_per_sq_metre"] }}</td>
                    <td>{{ records[i]["street_name"] }}</td>
                    <td>{{ records[i]["block"] }}</td>
                    <td>{{ records[i]["storey_range"] }}</td>
                    <!-- <td>{{ records[i]["flat_model"] }}</td> -->
                    <td>{{ records[i]["lease_commence_date"] }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div><!-- table-responsive -->

          <div class="ht-40"></div>

        </div><!-- az-content-body -->
      </div><!-- container -->
    </div><!-- az-content -->

    <script>
        let table = new DataTable('#main-table', {
           
        });

        // Datepicker
        $('.fc-datepicker').datepicker({
          showOtherMonths: true,
          selectOtherMonths: true
        });
    </script>
{% endblock %}