{% extends "base.html" %}

{% block title %}HDB Haven - Search{% endblock %}

{% block content %}
<div class="az-content">
  <div class="container">
    <div class="az-content-body">
      <h2 class="az-content-title">Comprehensive HDB Data</h2>
      <div class="az-content-label mg-b-5">Select your filters.</div>
      <p class="mg-b-20">Search for data on the type of flat you wish to purchase.</p>
      
      <hr class="mg-y-20">
      
      <div class="row row-sm">
        <div class="col-lg-6">
          <p class="mg-b-10">Date Range</p>
          <div class="row row-sm">
            <!-- From Date -->
            <div class="wd-200 mg-b-20">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    From
                  </div>
                </div>
                <input id="from-date-input" type="text" class="form-control fc-datepicker" placeholder="MM/YYYY">
              </div>
            </div>
            <!-- To Date -->
            <div class="wd-200 mg-b-20">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    To
                  </div>
                </div>
                <input id="to-date-input" type="text" class="form-control fc-datepicker" placeholder="MM/YYYY">
              </div>
            </div>
          </div> <!-- Row -->
        </div> <!-- Col -->
        <div class="col-lg-3">
          <p class="mg-b-10">Town</p>
          <select id="town-input" class="form-control select2">
            <option label="Choose one"></option>
            <option value="Firefox">Firefox</option>
            <option value="Chrome">Chrome</option>
            <option value="Safari">Safari</option>
            <option value="Opera">Opera</option>
            <option value="Internet Explorer">Internet Explorer</option>
          </select>
        </div> <!-- Col -->
        <div class="col-lg-3">
          <p class="mg-b-10">Flat Type</p>
          <select id="flat-type-input" class="form-control select2">
            <option label="Choose one"></option>
            <option value="Executive">Executive</option>
            <option value="5 Room">5 Room</option>
            <option value="4 Room">4 Room</option>
            <option value="3 Room">3 Room</option>
            <option value="2 Room">2 Room</option>
          </select>
        </div> <!-- Col -->
      </div> <!-- Row -->



      <!-- Price Range Pickers -->
      <div class="row row-sm">

        <div class="col-lg-6">
          <p class="mg-b-10">Floor Area Range</p>
          <input type="text" id="area-range-input" class="rangeslider1" data-extra-classes="irs-modern">
        </div> <!-- Col-->

        <div class="col-lg-6">
          <p class="mg-b-10">$ / m<sup>2</sup> Range</p>
          <input type="text" id="price-per-metre-range-input" class="rangeslider2" data-extra-classes="irs-modern">
        </div>

      </div> <!-- Row -->

      <div class="row row-sm">
        <div class="col-lg-12">
          <p class="mg-b-10">Resale Price Range</p>
          <input type="text" id="price-range-input" class="rangeslider1" data-extra-classes="irs-modern">
        </div> <!-- Col-->
      </div> <!-- Row -->




  <hr class="mg-y-20">

  <!-- <div id="loading">Loading data, please wait...</div> -->
  <div class="table-responsive">
    <table id="main-table" class="hover stripe row-border dataTable" style="display: inline-block; overflow: auto;">
      <thead>
        <tr>
          <th style="position: sticky; top: 0; background-color: white;">Month</th>
          <th data-dt-order="disable" style="position: sticky; top: 0; background-color: white;">Town</th>
          <th style="position: sticky; top: 0; background-color: white;">Flat Type</th>
          <th style="position: sticky; top: 0; background-color: white;">Floor Area (m<sup>2</sup>)</th>
          <th style="position: sticky; top: 0; background-color: white;">Resale Price</th>
          <th style="position: sticky; top: 0; background-color: white;">$ / m<sup>2</sup></th>
          <th data-dt-order="disable" style="position: sticky; top: 0; background-color: white;">Street Name</th>
          <th data-dt-order="disable" style="position: sticky; top: 0; background-color: white;">Block</th>
          <th style="position: sticky; top: 0; background-color: white;">Storey Range</th>
          <!-- <th style="position: sticky; top: 0; background-color: white;">Flat Model</th> -->
          <th style="position: sticky; top: 0; background-color: white;">Lease Commence Date</th>
          <th style="position: sticky; top: 0; background-color: white;">Remaining Lease</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          <td>{{ row["month"] }}</td>
          <td>{{ row["town"] }}</td>
          <td>{{ row["flat_type"] }}</td>
          <td value={{ row["floor_area_sqm"] }}>{{ row["floor_area_sqm"] }}</td>
          <!-- <td hidden>{{ row["resale_price"] }}</td> -->
          <td class="currency" value={{ row["resale_price"] }}>{{ row["f_resale_price"] }}</td>
          <!-- <td hidden>{{ row["price_per_sq_metre"] }}</td> -->
          <td class="currency" value={{ row["price_per_sq_metre"] }}>{{ row["f_price_per_sq_metre"] }}
          </td>
          <td>{{ row["street_name"] }}</td>
          <td>{{ row["block"] }}</td>
          <td>{{ row["storey_range"] }}</td>
          <!-- <td>{{ row["flat_model"] }}</td> -->
          <td>{{ row["lease_commence_date"] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div><!-- table-responsive -->

  <div class="ht-40"></div>

</div><!-- az-content-body -->
</div><!-- container -->
</div><!-- az-content -->

<script>
  // Datepicker
  $('.fc-datepicker').datepicker({
    showOtherMonths: true,
    selectOtherMonths: true,
    changeMonth: true,
    changeYear: true,
    showButtonPanel: true,
    dateFormat: 'MM yy',
    onClose: function (dateText, inst) {
      $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
    }
  });

  $('#price-range-input').ionRangeSlider({
    type: 'double',
    grid: true,
    min: 0,
    max: 1300000,
    from: 300000,
    to: 700000,
    prefix: '$'
  });

  $('#price-per-metre-range-input').ionRangeSlider({
    type: 'double',
    grid: true,
    min: 2000,
    max: 12000,
    from: 4000,
    to: 7000,
    prefix: '$'
  });

  $('#area-range-input').ionRangeSlider({
    type: 'double',
    grid: true,
    min: 0,
    max: 160,
    from: 30,
    to: 50,
    prefix: ''
  });


  let table = new DataTable('#main-table', {
    ordering: false,
    "processing": true,
    "serverSide": true,
    "ajax": "/get_data",
    "columns": [
      // { "data": "_id" },
      { "data": "month" },
      { "data": "town" },
      { "data": "flat_type" },
      { "data": "floor_area_sqm" },
      { "data": "f_resale_price" },
      { "data": "f_price_per_sq_metre" },
      { "data": "street_name" },
      { "data": "block" },
      { "data": "storey_range" },
      { "data": "lease_commence_date" },
      { "data": "remaining_lease" },
      // { "data": "flat_model" },
    ],
    columnDefs: [
      { width: '15%', targets: 1 },
      { width: '10%', targets: 3 },
      { width: '20%', targets: 6 },
      { width: '2%', targets: -2 },
    ],
    layout: {
      topStart: null,
      topEnd: null,
    },
    language: {
        emptyTable: 'Loading data...'
    },
    "pageLength": 15,
  });
  
  $(document).ready(function () {
    $('.select2').select2({
      placeholder: 'Choose one',
      searchInputPlaceholder: 'Search'
    });

    $('.select2-no-search').select2({
      minimumResultsForSearch: Infinity,
      placeholder: 'Choose one'
    });

    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('data_ready', function(msg) {
        console.log(msg.message);  // Log the message from the server
        table.destroy();

        // Initialize DataTables after receiving the signal
        $('#main-table').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "/get_data",
                "type": "GET"
            },
            "columns": [
                // { "data": "_id" },
                { "data": "month" },
                { "data": "town" },
                { "data": "flat_type" },
                { "data": "floor_area_sqm" },
                { "data": "f_resale_price" },
                { "data": "f_price_per_sq_metre" },
                { "data": "street_name" },
                { "data": "block" },
                { "data": "storey_range" },
                { "data": "lease_commence_date" },
                { "data": "remaining_lease" },
                // { "data": "flat_model" },
              ],
              columnDefs: [
                { width: '15%', targets: 1 },
                { width: '10%', targets: 3 },
                { width: '20%', targets: 6 },
                { width: '2%', targets: -2 },
              ],
              layout: {
                topStart: null,
                topEnd: null,
              },
              language: {
                emptyTable: 'Loading data...' // Change for when no records while searching
              },
              "pageLength": 15,
        });

        // Hide loading message and show table
        $('#loading').hide();
        $('#main-table').show();
    });

  });

  
</script>
<style>
  .container {
    max-width: 1550px
  }

  .ui-datepicker-calendar {
    display: none;
  }

  /* Styling for the dropdowns */
  .ui-datepicker .ui-datepicker-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* Space between dropdowns */
  }

  /* Styling for the previous and next arrows */
  .ui-datepicker .ui-datepicker-prev,
  .ui-datepicker .ui-datepicker-next {
    top: 0;
    /* Align arrows vertically with the dropdowns */
    width: 20px;
    height: 20px;
    margin: 0 10px;
    /* Space between the arrows and dropdowns */
  }

  .ui-datepicker-prev {
    left: 10px;
  }

  .ui-datepicker-next {
    right: 10px;
  }

  /* Dropdowns padding */
  .ui-datepicker .ui-datepicker-title select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
  }

  /* Adjust Done and Today button layout */
  .ui-datepicker-buttonpane {
    text-align: center;
    margin-top: 10px;
  }

  .ui-datepicker-buttonpane button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    margin: 0 5px;
    cursor: pointer;
  }

  .ui-datepicker-buttonpane button:hover {
    background-color: #0056b3;
  }
</style>
{% endblock %}